<div class="about">
  <h3>About</h3>
  <p>You can use TravelGram to trace your recent travels from all over the world. </p> <br/>
  It works best if all you post as you travel and tag all your photos with location tags </p><br/>
  Currently Travelgram only because of the API limitations TraveGram supports your 20 most recent posts and approved users. If you want to give it a whirl send me an email at axel.deb.len@gmail.com 
  </p><br/>
  <a class="personal-link" href="http://github.com/Axeleo">Made by Axel Debenham-Lendon @ GA 2018</a>
</div>
