 
 <div class="authenticate">
  <a href="https://api.instagram.com/oauth/authorize/?client_id=49542c97f39f4f0da2960c84d3288b4a&redirect_uri=https://shrouded-badlands-24074.herokuapp.com/oauth/callback&response_type=code&scope=public_content
  ">Authenticate and create map</a>
  <img src="https://i.imgur.com/mxJFMBn.jpg" alt="">
 </div>