<div class="welcome">
  <div class="welcome-left hide-mobile">
    <h3>The Journey Begins</h3>
    <img src="https://images.unsplash.com/photo-1527824404775-dce343118ebc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73a57a8dee5397ce9ce30babbdfc40c4&auto=format&fit=crop&w=1950&q=80"
      alt="">
  </div>
  <div class="welcome-right">
    <p>You can use TravelGram to trace your recent travels from all over the world. </p><br />
    <p>
      It works best if all you post as you travel and tag all your photos with location tags.</p><br />
    <p>
      Due to current API limitations TraveGram only supports your 20 most recent posts for
      approved users. If you want to give it a whirl send me an email at axel.deb.len@gmail.com so I can approve your account.
    </p><br />
    <a class="personal-link" href="http://github.com/Axeleo">Made by Axel Debenham-Lendon @ GA 2018</a>
  </div>
</div>