
<div class="login">
  <h3>Login</h3>
  <div class="login-form">
    <form action="/session" method="post">
      <input type="email" name="email">
      <input type="password" name="password">
      <button>Login</button>
    </form>
  </div>
</div>
