<div class="signup">
  <form action="/users" method="post">
  <label for="">Email</label>
  <input type="email" name="email">
  <label for="">Create a password</label>
  <input type="password" name='password'>
  <button>Signup</button>
  <p>To create maps you will have to Authenticate your account with Instagram</p>
</form>
</div>