<div class="signup">
  <h3>Signup</h3>
  <form action="/users" method="post">
    <input type="email" name="email" placeholder="enter your email">
    <input type="password" name='password' placeholder="create a password">
    <p>To create maps you will have to Authenticate your account with Instagram</p>
    <button>Join</button>
</form>
</div>