
#map {
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

body {
  font-size: 1em;
  font-family: 'Rubik',
  sans-serif;
}

h1 {
  font-size: 2em;
  font-family: 'Archivo',
  sans-serif;
}

/* NAV BAR Styles */
.nav-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.nav-bar a {
  padding: 1em;
  text-decoration: none;
  transition: all 0.8s ease;
  border-bottom: 3px solid transparent;
}
.nav-bar a:hover {
  color: #fed165;
  padding: 1em;
  text-decoration: none;
  border-bottom: 3px solid #d02896;
}

.nav-bar-left {
  padding-left: 1em;
}
.nav-bar-right {
  padding-right: 1em;
}
.logo-img {
  width: 2em;
  margin: 0 auto;
}
.logo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  z-index: -10;
}
.logo-animation {
  position: absolute;
  padding-top:0.2em;
  z-index: -10;
  align-self: center;
}

.fa-camera-retro {
  color: #d02896;
}

.fa-times {
  color: #fed165;
}

.signup {
  margin: 0 auto;
  width: 30%;
  border: 1px solid rgba(216, 216, 216, 0.986);
  border-radius: 0.5em;
  text-align: center;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
.signup input{
  appearance: none;
  -webkit-appearance: none;
  margin: 0.5em;
  border-bottom: 3px solid rgba(216, 216, 216, 0.986);
  transition: all 1.2s ease;
}
.signup input:focus{
  margin: 2em;
  border-bottom: 3px solid #d02896;
}


